.project-view {
    background: linear-gradient(90.59deg, #274550 0.32%, #3D7589 99.3%);
    min-height: 100vh;
}

.project {
    position: relative;
}

.project .triangle .arrow-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    border-bottom: 750px solid transparent;
    border-right: 1200px solid #F1D150;
    z-index: 0;
    animation: loader 1.9s;
}

.project .project-details .project-img {
    position: relative;
}

.project .project-details .project-img .bg-gray {
    color: #FFF;
    position: absolute;
    bottom: 4px;
    padding: 25px;
    background: rgba(15, 47, 59, 0.6);
    width: 100%;
    font-size: 2vw;
    border-radius: 10px;
}

.project .project-details .project-img,
.project .project-details .project-img img {
    width: 100%;
}
.project .project-details .project-img img{
    height: 440px;
    object-fit: cover;
}

.project .project-details {
    z-index: 3;
    position: relative;
}

.project .project-details {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    padding: 0px 10%;
}

.project .project-details h1 {
    text-align: left;
    width: 100%;
    margin-bottom: 40px;
    color: #FFF;
    font-weight: 400;
    font-size: 3vw;
}

.project .project-body {
    margin-bottom: 50px;
    white-space: pre-line;
}

.project .project-body p {
    line-height: 35px;
    margin: 35px 0;
    font-size: 1.3vw;
    color: #FFFFFF;
}

@media screen and (max-width: 1000px) {
    .project .triangle .arrow-right {
        border-bottom: 500px solid transparent;
        border-right: 320px solid #F1D150;
    }

    .project .project-details h1 {
        text-align: left;
        width: 100%;
        margin-bottom: 40px;
        color: #FFF;
        font-weight: 400;
        font-size: 7vw;
    }

    .project .project-details .project-img .bg-gray {
        color: #FFF;
        position: absolute;
        bottom: 4px;
        padding: 10px;
        background: rgba(15, 47, 59, 0.6);
        width: 100%;
        font-size: 3vw;
        border-radius: 10px;
    }

    .project .project-body p {
        line-height: 35px;
        margin: 35px 0;
        font-size: 4vw;
        color: #FFFFFF;
    }
}